@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-image: url("img/bande_film.png");
    background-position: 20% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

#resultat {
    visibility: hidden;
}

#poster {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    visibility: hidden;
}

