body {
    background-image: url("img/bande_film.png");
    background-position: 20% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-family: Tahoma;
    text-align: center; 
}

h2 {
    tab-size: 4;
}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inner {
    width: 30%;
    display:inline-block;
    margin: auto;
    box-sizing: border-box;
    text-align: justify;
}

#resultat {
    gap: 10px;
    visibility: hidden;
}

#description {
    width: 50vw;
}

#poster {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    visibility: hidden;
}

